/***********************************************************

Author: Quentin Tai
Start date: 10/18/2012

Tool set: HTML & CSS

Goal: to make a simple website with the following...
1. Liquid design
2. 

Theme: Making a website.

***********************************************************/
@import "color.css";
@import "layout.css";
@import "typography.css";